{% include base_path %}
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<article class="item-card item-card--talk" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="item-card__date"><span>{{ post.date | date: "%b" }}</span>{{ post.date | date: "%Y" }}</div>
  <div class="item-card__body">
    {% if post.type %}<p class="item-card__meta">{{ post.type }}</p>{% endif %}
    <h2 class="item-card__title" itemprop="headline"><a href="{% if post.link %}{{ post.link }}{% else %}{{ base_path }}{{ post.url }}{% endif %}">{{ title }}</a></h2>
    {% if post.venue %}<p class="item-card__venue">{{ post.venue }}{% if post.location %} · {{ post.location }}{% endif %}</p>{% endif %}
    {% if post.excerpt %}<p class="item-card__excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' | strip }}</p>{% endif %}
  </div>
</article>
